@model WebApplication.Models.METAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>METAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONTRATO.NOME_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRATO.NOME_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESPECIALIDADE_EXAMES.NOME_ESPECIALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESPECIALIDADE_EXAMES.NOME_ESPECIALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.META)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.META)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_META }) |
    @Html.ActionLink("Back to List", "Index")
</p>
